

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
 }
 
 .title {
    width: 100%;
    float: left;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(110, 101, 103);
    position: relative;
 }
 
 .title:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    background: rgb(110, 101, 103);
 }
 
 
 .input,
 .input label,
 .input input,
 .input .spin,
 .button,
 .button button {
    width: 100%;
    float: left;
    font-size:20px;
 }
 
 .input,
 .button {
    margin-top: 30px;
    height: 70px;
 }
 
 .input,
 .input input,
 .button,
 .button button {
    position: relative;
 }
 
 .input input {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
 }
 
 .input input,
 .input label,
 .button button {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
 }
 
 .input:before,
 .input .spin {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
 }
 
 .button.login {
    width: 60%;
    left: 20%;
    margin-top: 30px;
 }
 
 .button.login button,
 .button button {
    width: 83%;
    line-height: 64px;
    left: 5.5%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 18px;
    color:  rgb(110, 101, 103);
    border-color:  rgb(110, 101, 103);
 }
 
 .button {
    margin-top: 20px;
 }
 
 .button button {
    background-color: #fff;
    color: rgb(110, 101, 103);
    border: none;
 }
 
 
 .button.login button:hover {
    width:100%;
    left:0em;

 }
 
 .button {
    margin: 40px 0;
    overflow: hidden;
    z-index: 2;
 }
 
 .pass-forgot {
    width: 100%;
    float: left;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
 }
 .materialContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
 }
 
 .BackgroundColor{
   position: relative;;
   height:73.6em;
   background-color:rgb(232, 232, 236);
 }
 
 .Paragraph{
  font-size: 15px;
 }
 
 .button.register {
   width: 50%;
   left: 8em;
   margin-top: 10px;
   line-height: 64px;
   background-color: transparent;
   border: 3px solid rgba(0, 0, 0, 0.1);
   font-weight: 900;
   font-size: 18px;
   color: rgba(0, 0, 0, 0.2);
   border-color:  rgb(110, 101, 103);
 }
 
 .button.register:hover{
   left:6.4em;
   width:60%;
 }
 
 .wrapper {
   min-height: 100vh;
   position: relative;
   background-color: white; }
 
   .wrapper {
     position: relative;
     top: 0;
     height: 100vh; }
 
     .sidebar .sidebar-wrapper {
       border:1px solid ; 
       position: relative;
       height: calc(100vh - 75px);
       overflow: auto;
       width: 260px;
       z-index: 4;
       padding-bottom: 30px; }

 /*Card Css Below*/
 /* Global Rules
   ========================================================================== */

/* Change bootstrap primary button color */
.btn-primary {
  color: #fff;
  background-color: #fdbb30;
  border-color: #fda330
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #fdbb30;
  border-color: #fdbb30
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fdbb30;
  border-color: #fdbb30
}

/* Card1 Css */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


/*- - - - - - C O N T A C T - C A R D S - - - - - */

.card{
  display: inline-block;
  height: 34%;
	max-height:100%;
	width: 30%;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
  margin-right: 50px;
}

.card_Banner{
	background-color: black;
}

.card_Avatar{
	height: 100px;
	width: 100px;
	margin: auto auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border: 3px solid #F1F1F1 ;
	border-radius: 100%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

	.c_01 .card_Avatar{
		/* Image from Twitter (___@cabrown___) */
		background-image: url("https://pbs.twimg.com/profile_images/1026096613071237120/LrWQlGzm_400x400.jpg");
	}
h3, a, i{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	h3{
		margin-top: 45px;
		margin-bottom: 5px;
		font-size: 18px;
		color: #212121;
	}

	a{
		display: block;
		padding: 5px 0px;
		font-size: 14px;
		color: #9E9E9E;
		text-decoration: none;
	}

		a:hover{
			background-color: #FAFAFA;
			color: inherit;
         /* For Codepen demo ~ Not important! */
			cursor: pointer;
		}

ul{
	margin-top: 10px;
	padding: 15px 0px;
	background-color: #FAFAFA;
}

	ul a{
		display: inline;
		margin-right: 10px;
	}

		ul a:last-of-type{
			margin-right: 0px;
		}

		ul a i{
			color: inherit;
		}

			ul a i:hover{
				transform: scale(1.5);
				color: inherit;
			}

.Cardviews{
  display: flex;
}

.card{
  display:inline-block;
}

/* Card2 Csss */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 1, 0, 0.2);
  max-width: 400px;
  text-align: center;
  font-family: arial;
  background-color: #c6b1dd;
  height:340px;
  border-radius: 10%;
  
}

.card2body{
  width:30%;
}

.titlecard2 {
  color: grey;
  font-size: 18px;
}

.card2para{
  margin-left:5%;
  text-align: left
}


